.form-submit {
    background: #4d220042;
    color: #4d2200;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px 36px;
    border: 2px solid #4d2200;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.form-submit::before {
    content: "";
    position: absolute;
    background: #80cfcf;
    width: 10px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-18deg);
    filter: blur(6px);
}

.form-submit:hover::before {
    left: calc(100% + 32px);
    transition: 1s;
}


@media only screen and (max-width: 1060px) {
    .form-submit {
        font-size: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .form-submit {
        font-size: 13px;
    }
}