@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rock+Salt&family=Tangerine&display=swap');

.studentregisteration {
    background: url("../public/IMG/bg.jpg") no-repeat fixed center/cover;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/* .login {
    background: url("../public/IMG/Contactus.jpg") no-repeat fixed center/cover;
} */

.application-structure {
    height: 90.8vh;
    width: 50%;
    padding-top: 1em;
    font-family: 'Berkshire Swash', cursive;
}

.box-heading {
    text-align: center;
    position: relative;
    width: 30em;
    height: 4em;
    margin: 0em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
}

.main-heading {
    color: #ede538;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.box-heading::after {
    content: "";
    position: absolute;
    background: #000;
    inset: 3px;
    border-radius: 20px;
}

.box-heading::before {
    content: "";
    position: absolute;
    width: 32em;
    height: 32em;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1060px) {
    .main-heading {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 750px) {
    .application-structure {
        width: 100%;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .box-heading {
        width: 23em;
        height: 3.5em;
    }
}

@media only screen and (max-width: 450px) {
    .main-heading {
        font-size: 1.3rem;
    }

    .box-heading {
        width: 20em;
        height: 3em;
    }

    .text-input {
        padding: 0.5em;
        width: 80%;
    }
}

@media only screen and (max-width: 350px) {
    .main-heading {
        font-size: 1rem;
    }

    .box-heading {
        width: 17em;
        height: 2.5em;
    }

    .text-input {
        padding: 0.3em;
        width: 60%;
    }
}