@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rock+Salt&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Josefin+Sans&family=Play&display=swap');

.home {
    display: block;
}

.img-text {
    position: relative;
    font-family: 'Play', sans-serif;
    text-shadow: 2px 2px 50px white;
}

.img-text h2 {
    color: white;
    font-size: 3.5rem;
    position: absolute;
    top: 14rem;
    right: 3rem;

}

.img-text span {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 18rem;
    right: 3rem;
}

@media screen and (max-width: 1001px) {
    .img-text h2 {
        font-size: 2.5rem;
        top: 12rem;
    }

    .img-text span {
        font-size: 1rem;
        top: 15rem;
    }
}

@media screen and (max-width: 751px) {
    .img-text h2 {
        font-size: 1.8rem;
        top: 8rem;
    }

    .img-text span {
        font-size: 0.7rem;
        top: 11rem;
    }
}

@media screen and (max-width: 551px) {
    .img-text h2 {
        font-size: 1.3rem;
        top: 6rem;
        right: 1.5rem;
    }

    .img-text span {
        font-size: 0.6rem;
        top: 8rem;
        right: 1.5rem;
    }
}

@media screen and (max-width: 401px) {
    .img-text h2 {
        font-size: 1.1rem;
        top: 4rem;
        right: 1rem;
    }

    .img-text span {
        font-size: 0.5rem;
        top: 6rem;
        right: 1rem;
    }
}

.display-3 {
    text-shadow: 2px 3px 5px black;
}

.display-4 {
    text-shadow: 2px 3px 5px black;
}

.display-6 {
    font-family: 'Baloo 2', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.superiorcodelabslogo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.studentregisteration {
    background: url("./assets/IMG/bg.jpg") no-repeat fixed center/cover;
}

.label-log-sign {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.login-section {
    margin-bottom: 2rem;
    font-family: 'Play', sans-serif;
    padding: 0 1rem;
}

.login-section::before {
    background: url("./assets/BG/tengyart2.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
}

.login {
    height: 77vh;
    padding: 3rem 4rem;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 1px 2px 40px black;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
}

@media only screen and (max-width: 1000px) {
    .login-section::before {
        height: 110vh;
    }
}

@media only screen and (max-width: 600px) {
    .login-section::before {
        height: 145vh;
    }

    .login {
        height: 110vh;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    .login-heading {
        font-size: 3rem !important;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .login-heading {
        font-size: 2rem !important;
    }
}

.login-heading {
    text-shadow: 4px 3px 7px rgb(65, 62, 62);
    font-size: 3rem;
}

.trans-inp-log-sign,
.trans-inp-log-sign:focus {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: white;
    text-shadow: 2px 2px 1px rgb(65, 62, 62);
    box-shadow: none;
    caret-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.trans-inp-log-sign::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.signup {
    height: 85vh;
}

.application-structure {
    height: 90.9vh;
    width: 50%;
    padding-top: 1em;
    font-family: 'Berkshire Swash', cursive;
}

.box-heading {
    text-align: center;
    position: relative;
    width: 30em;
    height: 4em;
    margin: 0em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
}

.main-heading {
    color: #ede538;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.box-heading::after {
    content: "";
    position: absolute;
    background: #000;
    inset: 3px;
    border-radius: 20px;
}

.box-heading::before {
    content: "";
    position: absolute;
    width: 32em;
    height: 32em;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1060px) {
    .main-heading {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 750px) {
    .application-structure {
        width: 100%;
    }

    .main-heading {
        font-size: 1.5rem;
    }

    .box-heading {
        width: 23em;
        height: 3.5em;
    }
}

@media only screen and (max-width: 450px) {
    .main-heading {
        font-size: 1.3rem;
    }

    .box-heading {
        width: 20em;
        height: 3em;
    }

    .text-input {
        padding: 0.5em;
        width: 80%;
    }
}

@media only screen and (max-width: 350px) {
    .main-heading {
        font-size: 1rem;
    }

    .box-heading {
        width: 17em;
        height: 2.5em;
    }

    .text-input {
        padding: 0.3em;
        width: 60%;
    }
}