.application-structure{
    height: 100vh;
    background: url("../public/IMG/bg.jpg") no-repeat fixed center/cover;
}

.box-heading {
    text-align: center;
    position: relative;
    /* width: 68em; */
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
}

.main-heading {
    color: #38ed38;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.box-heading::after {
    content: "";
    position: absolute;
    background: #000;
    inset: 4px;
}

.box-heading::before {
    content: "";
    position: absolute;
    width: 100em;
    height: 100em;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}